html, body {
  width: 270px;
  font: 13px/18px sans-serif;
  background: #D0D0D0;
}

.lighter {
  background: #FFFFFF;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}